#mbti_main{
    background-color: #1D1E60;
    width:80%;
    height: 100%;
    text-align:center;
    border-radius: 10px;
    
}
@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'ELAND_Choice_L';
    color: white;
}

.progress {
    color :royalblue;
    background-color: red;
    -webkit-box-shadow: none;
    box-shadow: none;
  }