<footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h5>About Us</h5>
                        <p>We Floo Team this word Fire and Yolo combinations We developed this site for yolo&fire people</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h4 style="color: aliceblue;"> Social</h4>
                        <div>
                            <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                                <a href="https://www.facebook.com" class="fa-icon" title="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.linkedin.com" class="fa-icon" title="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Version</h5>
                        <p>1.0</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer -->