
{% load static %}
<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            MBTI testimonial-2
        </title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
    
        <link rel = "stylesheet" href="{% static 'css/default.css' %}">
        <link rel = "stylesheet" href="{% static 'css/mbti_main.css' %}">
        <link rel = "stylesheet" href="{% static 'css/qna.css' %}">
    </head>

    <body>
        
        <div class="container-fluid" >
        <section class = "mx-auto mt-5 pt-5 pb-5 px-3" id="mbti_main" >
            <h3>당신의 소비성향은?</h3>
            <div class="col-6 pt-5 pb-5 mx-auto" >
                <img class="img-fluid" src="{% static 'image/fire.png'%}" alt="main page image"
                style="max-width:10%; height:auto;">
            </div>
            <p>
                FIRE OR YOLO<br>
                당신은 어느 쪽일까요?<br>
            </p>
            <a href="{% url 'mbti:mbti1' %}"><button type="button" class="btn btn-outline-danger mt-5">mbti시작하기</button></a><br>
            
        </section>
        <script src="{% static 'js/start.js'%}" charset="utf-8"></script>
        </div>
    </body>

</html>