{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
    <style>
        * {
            font-family: "Nanum Gothic", sans-serif;
            font-size: 23px;
        }

        #ti {
            font-family: "Nanum Gothic", sans-serif;
            font-size: 23px;
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <section id="ti" class="mx-auto mt-5 pt-5 pb-5 px-3" style="background-color: #CCDBE2;
        width:50%;
        text-align:center;
        border-radius: 10px;">
            마이페이지 입니다. {{user.get_username}}님 반갑습니다.

        </section>
    </div>

    <div class="container-fluid">
        <section class="mx-auto mt-5 pt-5 pb-5 px-3" style="background-color:white;
        width:80%;
        text-align:center;
        border-radius: 10px;">

            이름: {{user.get_username}}<br>
            NickName: {{user.nickname}}<br>
            profile: {{user.profile}}
        </section>
    </div>


    {% for bill in bills %}
    <div class="container-fluid">
        <section class="mx-auto mt-5 pt-5 pb-5 px-3" style="background-color:white;
        width:80%;
        text-align:center;
        border-radius: 10px;">

            <br>
            <H2>{{user.get_username}}님이 작성하신 글입니다</H2>
            <br>
            <h3>
                {{bill.image}}
            </h3>
            </a>
            <ul>
                <h3>
                    <li>제목: {{bill.title}}</li>
                    <li>작성일: {{bill.date}}</li>
                </h3>
            </ul>
        </section>
    </div>

</body>

</html>
{% endfor %}

{% endblock %}