@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration-line: none;
}

.h-100{
    height: 100%;
}

#rcorners1 {
  border-radius: 25px;
  font-family: 'SBAggroB';
  background-color: #83cbed;
  padding: 20px;
  width: 500px;
  height: 150px;
  text-align: center;
  color:black;
  font-size:30px;
  padding-top: 70px;  
}




